<!DOCTYPE html>
<html>
<head>
  <title>SH-Reviews</title>
  <link rel="stylesheet" href="/style.css">
  <script>
    function confirmDelete(form) {
      if (confirm('Are you sure you want to delete this review?')) {
        form.submit();
      }
      return false;
    }
  </script>
  <link rel="icon" type="image/x-icon" href="/SH-Reviews-logo/icon.png">
  <link rel="apple-touch-icon" href="/SH-Reviews-logo/icon.png">
</head>
<body>
  <div class="container">
    <div class="header">
      <img alt="SH-Reviews Logo" class="logo" src="/SH-Reviews-logo/vector/default.svg">
    </div>
    <% if (error) { %>
      <div style="color: red;"><%= error %></div>
    <% } %>
    <div style="text-align: center; margin-bottom: 2em;">
      <a href="/submit" style="text-decoration: none;">
        <button type="button">Add New Review</button>
      </a>
    </div>
    <!-- In src/views/index.ejs -->
    <% reviews.forEach(review => { %>
      <div class="review">
        <div class="review-header">
          <span class="titleclass"><%= review.title %></span>
          <span class="date"><%= new Date(review.created_at).toLocaleString() %></span>
          <!--&nbsp <a href="/edit/<%= review.id %>">Edit</a> <!-- Edit link -->
          
        </div>
        <div class="review-content">
          <div class="text"><%= review.review %></div>
          <% if (review.image) { %>
            <img src="<%= review.image %>" alt="Review Image">
          <% } %>
        </div>
        <div class="rating">Rating: 
          <% for (let i = 0; i < review.rating; i++) { %>
            <span class="star">★</span>
          <% } %>
          <% for (let i = review.rating; i < 5; i++) { %>
            <span class="star">☆</span>
          <% } %>
          (<%= review.rating %>/5)
          <form action="/delete/<%= review.id %>" method="POST" style="display:inline;">
            <button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete this review?');">Delete</button>
          </form>
          <form action="/edit/<%= review.id %>" method="get" style="display:inline;">
            <button class="edit" type="submit" >Edit</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
  <footer>
    source: <a href="https://github.com/101br03k/sh-reviews">github.com/101br03k/sh-reviews</a> | Made with mainly <a href="https://nodejs.org">Node.js</a>.<br>
    Under some sort of licence called: <a href="https://github.com/101br03k/sh-reviews/blob/main/LICENSE">GNU General Public License v3.0. </a>
  </footer>
</body>
</html>