<div class="review">
    <h1>Preview: </h1>
    <div <% if (review.rating == 5) { %>id=fivestarreview<% } %>>
    <div class="review-header">
        <% if (review.rating == 5) { %><span class="star">★</span><% } %>
        <span class="titleclass" <% if (review.rating == 5) { %>id=fivestarstitle<% } %>><%- review.title_html %></span>
        <% if (review.rating == 5) { %><span class="star">★</span><% } %>
    </div>
    <div class="review-content">
        <div class="text">
            <%- review.review_html %>
        </div>
        <% if (review.image) { %>
            <img src="<%= review.image %>" alt="Review Image id:<%= review.id %>">
        <% } %>
    </div>
    <div class="rating">Rating: 
        <% for (let i = 0; i < review.rating; i++) { %>
        <span class="star">★</span>
        <% } %>
        <% for (let i = review.rating; i < 5; i++) { %>
        <span class="star">☆</span>
        <% } %>
        <span class="number">(<%= review.rating %>/5)</span>
    </div>
    </div>
</div>